.backToTopButton {
    width: 60px;
    height: 60px;
    z-index: 10;
    position: fixed;
    color: #ccc;
    background-color: #1a89ca;
    bottom: 2rem;
    right: 2rem;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backToTopButton svg {
    width: 30px;
    color: #fff;
}