.backToTopButton {
    width: 60px;
    height: 60px;
    z-index: 10;
    position: fixed;
    color: #ccc;
    background-color: #1a89ca;
    bottom: 1.7rem;
    right: 2rem;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
    opacity: 0;
   
}

.visible {
    opacity: 1;
    transition: all .5s ease;
}

.backToTopButton svg {
    width: 30px;
    color: #fff;
}
.backToTopButton:hover{
    opacity: .8;
}