{
  "useTabs": false,
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "parser": "typescript",
  "semi": false,
  "endOfLine": "auto",
  "quoteProps": "preserve"
}