@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbarContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.navbarTop,
.navbarBottom {
    width: 100%;
    height: auto;

}

.navbarTop {
    background-color: #f71804;
}

.navbarBottom {
    background-color: #49b0c1;
    width: 100%;
    height: auto;
    padding: .5rem 3rem !important;
    justify-content: space-evenly !important;
}

.navbarTop,
.navbarBottom,
.navbarBottom ul,
.navbarTopContent,
.navbarTopSocial,
.containerLi {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    color: #fff;

}

.navbarTopContent {
    width: 70%;
    column-gap: 2rem;
    /* Etkiler -> span after bak */
}

.navbarTopContent>span {
    position: relative;
}

.navbarTopContent>span:not(:last-child)::after {
    position: absolute;
    display: block;
    content: "";
    width: 2px;
    height: 25px;
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%);
    right: -1rem;
    /* navbarTopContent column-gap*/
}

.navbarTopSocial {
    width: 30%;
    justify-content: flex-start;

}

.icons {
    width: 30px;
    height: 30px;
    background-color: aqua;
    border-radius: 50%;
}

.navbarTopSocial img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.logoDiv {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    column-gap: 1rem;

}

.logoDiv figure {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;

}

.logoDiv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 2;

}

.logoAndMulti {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}

.logoDiv p {
    font-size: 24px;
    color: black;
    display: flex;
    align-items: self-start;
    justify-content: center;
    flex-direction: column;
    position: relative;

}

.multiTextDiv {
    width: 100%;
}

.multiText {

    font-size: 14px;
    color: #fff;
    /* padding-left: .2rem; */

}

.navbarBottom ul {
    column-gap: 4rem;


}

.containerLi {
    padding: 0 !important;
}
.containerLi.active{
    /*fotoğraftakiler*/
}

.containerLi ul li {
    list-style: none;
    font-size: 24px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    padding: 0 !important;


}

.containerLi ul li a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.containerLi ul li a:hover {
    text-decoration: underline;
}

.containerLi>ul>li:not(:last-child)::after {
    position: absolute;
    display: block;
    content: "";
    width: 2px;
    height: 25px;
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%);
    right: -2rem;
}

.containerLi ul li svg {
    width: 25px;
    height: auto;
    fill: #fff;
    text-align: center;
}

.hamburgerSvgDiv {
    display: none;
}

/* .topContent {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: #f71804;
    top: 0;
    color: whitesmoke;

}

.allInformations {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1200px;
    width: 800px;

}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1000px;
    width: 500px;

}

.socialMedias {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    max-width: 500px;
    width: 120px;

}

.instagram {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.3s;

}


.instagram:hover {
    transform: scale(1.3);
}

.allInformations a {
    font-weight: normal;
    font-size: 16px;
    color: white;
    text-decoration: none;

}

.navBar {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 80px;
    background-color: #49b0c1;
    padding: 0 1rem;
    position: fixed;
    top: 50px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);


}

.acmedCareLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 10%;
    width: 145px;
    height: 85px;
    z-index: 9;
    transition: 0.2s;


}

.acmedCareLogo img {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 4rem;
    scale: 2;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}

.acmedCareLogo:hover{
    transform: scale(1.1);
} 
.hovered {
    transform: scale(1.2);
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1000px;
    width: 700px;
    padding: 1rem;

}

.content li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    color: white;
    text-decoration: none;
    cursor: pointer;

    list-style: none;
    transition: all 0.2s ease-in-out;
    padding: 0.4rem;

}

.verticalLine {
    width: 2px;
    height: 25px;
    background-color: aliceblue;
}

.content li:hover {
    transform: scale(1.3);
    background-color: rgba(0, 0, 0, 0.1); 
    border-radius: 7rem; 

}

.material-symbols-outlined {
    scale: 1.5;
    margin-right: 7px;
    height: 30px;
    font-variation-settings:
        'FILL' 1,
        'wght' 200,
        'GRAD' 200,
        'opsz' 48
} */

@media screen and (max-width:1024px) {
    .acmedCareLogo {
        left: 5%;
    }

    .acmedCareLogo img {
        width: 70%;
        height: 70%;
    }

    .contact {
        justify-content: space-between;

    }

    .topContent,
    .navBar {
        justify-content: end;
    }

    .allInformations {
        width: 700px;
    }

    .noneStick {
        display: none;
    }

    /* .navbarBottom{
        justify-content: flex-start !important;
        column-gap: 12%;
    } */
    .navbarBottom {
        justify-content: space-between !important;
        padding: .5rem !important;
    }

    .logoAndMulti {
        width: auto;
    }

}

@media screen and (max-width:770px) {

    /* .allInformations,
    .content {
        width: 500px;

    }

    .acmedCareLogo {
        display: none;
    }

    .content li {
        font-size: 15px;
    }

    .contact {
        column-gap: 1rem;
        justify-content: center;
        font-size: 15px;
    }

    .topContent,
    .navBar {
        justify-content: center;
        padding: 0;
    }

    .containerLi ul li {
        font-size: 20px;
    }

    .navbarBottom ul {
        column-gap: 2rem;
    }

    .containerLi>ul>li:not(:last-child)::after {
        right: -1rem;
    } */

    /**/
    .containerLi ul li {
        font-size: 14px;
    }

    .logoDiv p {
        font-size: 20px;
    }

    .multiText {
        font-size: 11px;
        text-align: center;
    }

    .navbarBottom ul {
        column-gap: 1rem;
    }

    .containerLi>ul>li:not(:last-child)::after {
        right: -.5rem;
    }

    .navbarBottom ul li svg {
        width: 20px;
    }

    .containerLi>ul>li:not(:last-child)::after {
        height: 15px;
    }

    .logoDiv figure {
        width: 50px;
        height: 50px;
    }


}

@media only screen and (max-width:480px) {
    .navbarBottom {
        padding: .5rem 1rem !important;
    }

    .containerLi ul {
        /* display: none; */
        position: absolute;
        bottom: 0;
        left: 0;
        flex-direction: column !important;
        row-gap: .5rem;
    }

    .hamburgerSvgDiv {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}