*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.body{
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    position: relative;
}
.Sliderr{
    display: block;
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
    
}
.swiper,.swiper-wrapper,.swiper-slide{
    width: 100%;
    height: 100%;
   
}
.swiper-wrapper img{
    object-fit:cover;
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
}



