* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainPageContainer {
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    position: relative;
}
.swiper-slide{
    width: 100%;
}

.swiper-slide img {
    width: 100%;
}