@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
.containerSlider {
    display: flex;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    position: relative;
}

.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: 40px;
  }
  
.arrows path {
    stroke: #000;
    fill: transparent;
    stroke-width: 2px;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
  }
  
  @keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  @-webkit-keyframes arrow /*Safari and Chrome*/
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  .arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
  }
  
  .arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
  }
  
  .arrows path.a3 { 
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
  }

.swiper-slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.swiper-slide p{ 
    position: absolute;

}


.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiperContent {
    position: absolute;
    z-index: 1;
    width: 500px;
    top: 50%;
    left: 5rem;
    transform: translateY(-50%);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
    border-radius: 8px;
    padding: 0.5rem;
}

.swiperContentTop,
.swiperContentBottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    gap: 1.5rem;

}

.swiperContent1,
.swiperContent2,
.swiperContent3,
.swiperContent4 {
    width: 220px;
    height: 135px;
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    gap: 1rem;
    fill: #49b0c1   ;
    color: #49b0c1   ;
    transition: all .5s ease;
    cursor: pointer;
    
}

.swiperContent1 p,
.swiperContent2 p,
.swiperContent3 p,
.swiperContent4 p {
    font-size: 16px;
    text-align: center;
    

}

.swiperContent1 svg,
.swiperContent2 svg,
.swiperContent3 svg,
.swiperContent4 svg {
    margin-top: 1rem;
    width: 30px;
    height: 30px;
    

}

.swiperContent1:hover,
.swiperContent2:hover,
.swiperContent3:hover,
.swiperContent4:hover {
    fill: #fff;
    color: #fff;
    background-color: #49b0c1;
    transition: all .5s ease;
    z-index: 30;
}

.swiperTextDiv{
    position: absolute;
    left: 45rem;
    top: 50%;
    transform: translateY(-50%);
    min-width: 745px;
    max-width: 900px;
    height: 300px;
    padding:0 20px;
    word-wrap: break-word;
    row-gap: 1rem;
    
}
.swiperTextDiv h3{
    /*1bb9b9*/
    /* color: #1bb9b9; */
    color: #ebb82a;
    font-size: 50px;
    font-weight: 900;
    text-shadow: 4px 4px 4px  rgba(0,0,0,.9);
}
.swiperTextDiv p{
    margin-top: 1rem;
    color: white;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
    padding: 1rem;
    text-align: justify;
    word-wrap: break-word;
    
}
@media only screen and (max-width:1465px) {
    .swiperContent{
        width: 100%;
        top: 30%;
        left: 0;
        
    }
    .swiperContent1,.swiperContent2,.swiperContent3,.swiperContent4{
        width: 130px;
        height: 85px;
    }
    .swiperTextDiv{
        max-width: 100%;
        width: 100%;
        top: 60%;
        left:0;
        padding: 0;
    }
    .swiperTextDiv h3{
        text-align: center;
       font-size: 40px;
    }
    .swiperTextDiv p{
        width: 100%;
        text-align: center;
        font-size: 20px;
    }
    .swiperContent1 p,
    .swiperContent2 p,
    .swiperContent3 p,
    .swiperContent4 p {
    font-size: 11px;
    

    }
    
    
}

@media only screen and (max-width:745px) {
    .swiperContent{
        display: none;
    }

    .swiperTextDiv{
        min-width: 480px;
        top: 45%;
        padding: 0.5rem;
        
    }
    .swiperTextDiv h3{
       font-size: 35px;
    }
    .swiperTextDiv p{
        font-size: 20px;
     }
    
}


@media only screen and (max-width:480px) {
    .swiperTextDiv{
        min-width: 360px;
        top: 50%;
        padding: 0.5rem;
        
    }
    .swiperTextDiv h3{
       font-size: 30px;
    }
    .swiperTextDiv p{
        font-size: 16px;
     }
    
}