.containerComm {
    opacity: 0;
    width: 400px;
    height: auto;
    position: fixed;
    left: 2rem;
    bottom: 2rem;

    /* padding: 1rem; */

    /*2e8c7d*/
}

.containerComm.visible {
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 20px 20px 20px 0;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: all 1s ease;
    background-color: #fcfcfc;
    color: #000;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 20;
    transform: translate(-100%, 100%);
    animation: slideIn 1s forwards;
}

@keyframes slideIn {
    0% {
        transform: translate(-100%, 100%);
    }

    100% {
        transform: translate(0, 0);
    }
}

.containerHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .5rem;
    column-gap: .5rem;
    width: 100%;
    background-color: #2e8c7d;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    color: #fff;
    font-size: 16px;
}


.containerCommContents {
    width: 100%;
    /* max-width: 300px; */
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
    flex-wrap: wrap;
    padding: .5rem;
    background-image: url("../../../../public//images/wpbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* border-bottom-left-radius:20px ; */
    border-bottom-right-radius: 20px;
    z-index: 50;

}
.containerCommContents button {
    padding: 1rem;
    border:none;
    background-color: antiquewhite;
    border-radius: 12rem;
    cursor: pointer;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.55);
}



.whatsAppBubble {
    width: 100%;
    height: auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px 8px 8px 0;
    color: #000;
    word-wrap: break-word;
    margin-bottom: 2rem;
    font-size: 15px;

}

.commName {
    font-size: 18px;

}

.commName::after {
    content: "Üzüm";
    color: #49b0c1;
    font-size: 23px;
    font-weight: 500;
}