.containerComm {
    position: fixed;
    left: 2rem;
    bottom: 2rem;
    /* pointer-events: none; */
    /* padding: 1rem; */
    /*2e8c7d*/
}

.containerComm.active {
    width: 500px;
    height: 280px;
    border-radius: 20px;
    background-color: #2e8c7d;
    transition: width 1s ease, height .8s ease, border-radius 1s ease;
    z-index: 2;
    overflow-y: hidden;


}

.containerComm.unactive {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #2e8c7d;
    transition: width .8s ease, height 1s ease, border-radius 3s ease;
    cursor: pointer;
    z-index: 2;
}

.containerComm.unactive .containerCommContents,
.containerComm.unactive .containerHeader {
    opacity: 0;
    pointer-events: none;
    transition: all 1s ease;
}

.containerComm.unactive .wpIcon {
    position: absolute;
    top: 6px;
    left: 6px;
    /* transform: translate(-50%, -50%); */
    transition: all 1.5s ease;
    z-index: 30;

}

.containerComm.active .wpIcon {
    position: absolute;
    top: 6px;
    left: 6px;
    transform: translate(0%, 0%);
    z-index: 2;
    transition: all 1.5s ease;
}

.containerComm.active .headerLeft h3 {
    margin-left: 55px;
    transition: all 1s ease;
}

.containerComm.unactive .headerLeft h3 {
    margin-left: 0;
    transition: all 1s ease;
}


.containerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    width: 100%;
    background-color: #2e8c7d;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    position: relative;
}

.headerLeft {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.xMarker {
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.containerCommContents {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 1rem;
    position: relative;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    
}
.wpbg{
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
   
}
.wpbg img{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
}

.whatsappBubble {
    max-width: 85%;
    height: auto;
    padding: .8rem;
    border-radius: 1rem 1rem 1rem 0;
    background-color: #fff;
    color: #000;
    word-wrap: break-word;
    margin-bottom: 1rem;
    font-size: 15px;
}
.containerCommContents button,.whatsappBubble{
    z-index: 5;
}

.containerComm.active .whatsappBubble {
    opacity: 1;
    transform: translateX(0%);
    transition: all 2s ease-in-out;
}

.containerComm.unactive .whatsappBubble {
    opacity: 0;
    transform: translateX(-150%);
    transition: all .5s ease;
}


.containerCommContents button {
    width: 55%;
    padding: 1rem;
    border: none;
    background-color: antiquewhite;
    border-radius: 12rem;
    cursor: pointer;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.55);

}
.containerCommContents button a{
    color: #000;
    text-decoration: none;
}

.containerComm.active .containerCommContents button {
    opacity: 1;
    transform: translateX(0%);
    transition: all 2s ease-in-out;
}

.containerComm.unactive .containerCommContents button {
    opacity: 0;
    transform: translateX(-150%);
    transition: all .5s ease;
}

@media only screen and (max-width:1400px) {
    .containerComm.active,.containerComm.unactive{
        scale: 0.9;
    }
    
    
}
@media only screen and (max-width:1000px) {
    .containerComm.active,.containerComm.unactive{
        scale: 0.8;
        
        
    }
    .containerComm.active{
        left: -1.5rem;
    }
    
}
@media only screen and (max-width:700px) {
    .containerComm.active,.containerComm.unactive{
        scale: 0.75;
        
    }
    .containerComm.active{
        left: -3.5rem;
    }
    .containerComm{
        left: 0.5rem;
    }
    
}

@media only screen and (max-width:500px) {
    
    .containerComm{
        display: none;
    }
    
}