*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contactForm{
    width: 600px;
    height: 700px;
    background-color: antiquewhite;
}

.name label{
    position: absolute;
    left: 10px;
}